# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.accumulate.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ck\repos\exercism\csharp\accumulate\.idea\.idea.accumulate.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
