# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.armstrong-numbers.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ck\repos\exercism\csharp\armstrong-numbers\.idea\.idea.armstrong-numbers.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
