# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.rotational-cipher.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ck\repos\exercism\csharp\rotational-cipher\.idea\.idea.rotational-cipher.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
