# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CircularBuffer.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ck\repos\exercism\csharp\circular-buffer\.idea\.idea.CircularBuffer.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
